/* web fonts */
@font-face {
    font-family: 'LatoRegular';
    src: url('../assets/fonts/lato-regular.ttf');
}

@font-face {
    font-family: 'LatoItalic';
    src: url('../assets/fonts/lato-italic.ttf');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../assets/fonts/lato-light.ttf');
}

@font-face {
    font-family: 'LatoLightItalic';
    src: url('../assets/fonts/lato-lightitalic.ttf');
}

@font-face {
    font-family: 'LatoMedium';
    src: url('../assets/fonts/lato-medium.ttf');
}

@font-face {
    font-family: 'LatoMediumItalic';
    src: url('../assets/fonts/lato-mediumitalic.ttf');
}

@font-face {
    font-family: 'LatoBold';
    src: url('../assets/fonts/lato-bold.ttf');
}

@font-face {
    font-family: 'LatoBoldItalic';
    src: url('../assets/fonts/lato-bolditalic.ttf');
}

@font-face {
    font-family: 'LatoSemibold';
    src: url('../assets/fonts/lato-semibold.ttf');
}

@font-face {
    font-family: 'LatoSemiboldItalic';
    src: url('../assets/fonts/lato-semibolditalic.ttf');
}

@font-face {
    font-family: 'LatoExtraBold';
    src: url('../assets/fonts/lato-black.ttf');
}

@font-face {
    font-family: 'LatoExtraBoldItalic';
    src: url('../assets/fonts/lato-blackitalic.ttf');
}
