/* font families */
$lato-reg: "LatoRegular";
$lato-itc: "LatoItalic";
$lato-lt: "LatoLight";
$lato-lt-itc: "LatoLightItalic";
$lato-bld: "LatoBold";
$lato-bldi: "LatoBoldItalic";
$lato-sbld: "LatoSemibold";
$lato-sbldi: "LatoSemiboldItalic";
$lato-xbld: "LatoExtraBold";
$lato-m: "LatoMedium";
$lato-m-itc: "LatoMediumItalic";

/* colors */
$dark-color: #333;
$white-color: #fff;
$primary-color: rgb(252, 229, 24);
$error-color: red;